
.navContainer{
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100vw;
    top: 0px;
    left: 0px;
    z-index: 5;
}

.navLogo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #E0B973;
    padding: 40px 30px;
    border-radius: 0px 0px 35px 35px;
    
    font-family: "Cormorant Garamond", serif;
    font-weight: 700;
    font-style: normal;
    color: #14274A;
    line-height: 25px;
}

.navLogo h1{
    font-size: 40px;
}
.navLogo h3{
    font-size: 15px;
    letter-spacing: 8px;
}

.navLinks{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.navLinks ul{
    list-style-type: none;
}

.navLinks a{
    text-decoration: none;
    color: #ffffff;
    margin: 10px 20px;
    line-height: 50px;
    font-weight: 400;
}
.navLinks a:active{
    text-decoration: underline;
}
.navLinks li{
    display: inline;
}

.backgroundImage{
    position: relative;
    height: 100vh;
    background-image: url('../../images/home-bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.homeImgOverlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #14274A80;
}

.homeContentsContainer{
    position: absolute;
    display: flex;
    width: 70vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.homeContents{
    color: white;
    text-align: left;

    font-family: "Cormorant Garamond", serif;
    font-style: normal;
}
.homeContents h2{
    font-family: "Montserrat", sans-serif;
    font-size: 40px;
    font-weight: 200;
}
.homeContents h1{
    font-size: 134px;
    font-weight: 700;
    line-height: 120px;
}
.homeContents h3{
    font-size: 45px;
    font-weight: 700;
    letter-spacing: 20px;
}
.homeContents h4{
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-weight: 400;
}

.homeBottomContainer{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 30vh;
    width: 100vw;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.bookNow{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #E0B973;

    padding: 15px 20px;
    font-weight: 700;
    color: #ffffff;
    border-radius: 5px;
}

.bookNowImg{
    height: 14px;
    margin-right: 10px;
}

.scroll{
    color: #ffffff;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.scrollImage{
    height: 30px;
    width: 30px;
    margin: 10px;
}
.scrollImage:hover{
    cursor: pointer;
}

.roomContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    margin: 40px 0px;
}

.room{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 40px 0px;
    border-left: 2px solid #14274A;
}

.roomText{
    display: flex;
    flex-direction: column;
    margin: 0px 20px;
    max-width: 560px;
    text-align: left;
}
.roomText h1{
    font-family: "Cormorant Garamond", serif;
    font-size: 60px;
    line-height: 72px;
    color: #14274A;
    margin: 10px 0px;
}
.roomText h4{
    font-weight: 400;
    line-height: 40px;
    color: #14274A;
    margin: 10px 0px;
}
.explore{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 150px;
    background-color: #E0B973;
    border-radius: 5px;

    color: #ffffff;
    font-weight: 700;
    margin: 10px 0px;
}
.roomImage{
    width: 550px;
}